@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

body {
    background: black;
    font-family: 'KOTRA_BOLD-Bold';
    color : white;
    height: 100%
}


.one {
    min-height: 90vh;
}
.subtitle{
    font-size : 40px;
    color : white;

}
.title {
    font-size : 90px;
    color : white;
}
.comments {
    text-align: left;
    margin: 30px;
}

.card {
    background: #6151f8;
}

footer {
    font-size: 14px;
    text-align: left;
    position: relative;
    transform: translatY(-100%);
}

.right {
    text-align: right;
}
p, ul, il {
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 17px;
}
.button-link{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration-line: none;
    color : white;
}

.button-link:hover {
    text-decoration-line: underline;
    color : white;
}
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    font-family: 'Noto Sans KR', sans-serif;

}
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
@media ( max-width: 481px  ) {
    .subtitle{
            font-size : 40px;
            color : white;
        }
    .title {
            font-size : 50px;
            color : white;
        }

    img {
        max-width: 300px;
        height: auto;
    }
    }
    

